{% extends 'layout.html' %}
{% block content %}

<body class="create-page">
    {% include 'navigation.html' %}
    <div class="form-wrapper">
        <form method="POST" action="{{url_for('edit_profile', id=current_user.id)}}">
            {{ form.csrf_token }}
            <fieldset class="body">
                {{ form.body(placeholder=current_user.info, rows='10', cols='31') }}
                {% if form.body.errors %}
                <ul class="errors">
                    {% for error in form.body.errors %}
                    <li>{{ error }}</li>{% endfor %}
                </ul>
                {% endif %}
            </fieldset>
            <div class="submit-button">
                {{ form.submit }}
            </div>

            <input type="submit" name="submit" value="Cancel" formnovalidate>
        </form>
    </div>
</body>

{% endblock %}