{% extends 'layout.html' %}

{% block css %}
<link href="{{ url_for('static', filename='css/index.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}

<body class="home-page">
    {% include 'navigation.html' %}

    <div class="container">
        <h1>{{title}}</h1>
        <p>{{description}}</p>
    </div>

    <div class="welcome-wrapper">
        <h2>Welcome to the Pizza Power IT Department internal ticket tracking system. The site is currently a WIP,
            so please disregard any errors. 
        </h2>
    </div>

</body>
{% endblock %}