<!doctype html>
<html>

<head>
  <title>{{title}}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#5eb9d7">
  <meta name="description" content={{description}}>
  <link rel="shortcut icon" href="../static/img/pizza.jpg">
  <link href="../static/dist/css/account.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,500" rel="stylesheet" />
</head>


{% block content %}
<script src="../static/dist/js/main.min.js"></script>
{% endblock %}



</html>