<header>
  <div class="navigation-bar">
    {% if current_user.is_authenticated %}
    <nav>
      <a href="{{url_for('home')}}">Home</a> |
      <a href="{{url_for('posts')}}">Tickets</a> |
      <a href="{{url_for('profile')}}">Profile</a> |
      <a href="{{url_for('logout')}}">Logout</a>
      {% if current_user.isadmin %}
      <a href="{{url_for('create')}}">| Add Ticket</a> |
      {% endif %}
      {% else %}
      <a href="{{url_for('home')}}">Home</a> |
      <a href="{{url_for('login')}}">Login</a> |
      <a href="{{url_for('register')}}">Register</a>
      {% endif %}
    </nav>
  </div>
</header>