{% extends 'layout.html' %}

{% block css %}
<link href="{{ url_for('static', filename='css/index.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}

<body class="posts-page">
  {% include 'navigation.html' %}

  <div class="container">
    <h1>{{title}}</h1>
    <p>{{description}}</p>
  </div>


  <div class="post-wrapper">
    {% if posts|length == 0 %}
    <h2>No tickets found.</h2>
    {% endif %}

    {%for i in range(posts|length)%}

    <h2>#: {{posts[i].ticket_number}}</h2>
    <p><b>Info: </b>{{posts[i].body}}</p>
    <div class="attachment-icon">
      {% if posts[i].attachment is not none %}
      {% set filename = posts[i].attachment.split('/')[-1:] %}
      <a href="{{url_for('uploaded_file', filename=filename)}}" target="_blank">
        <img src="{{url_for('static', filename='img/attachment.jpeg') }}">
      </a>
      {% endif %}

      {% if current_user.isadmin %}
      <form method="post" action="archive/{{posts[i].id}}" class="inline">
        <input type="hidden" name="extra_submit_param" value="extra_submit_value">
        <button type="submit" name="submit_param" value="submit_value" class="link-button">
          Archive
        </button>
      </form>
      {% endif %}
      <hr>

    </div>


    {%endfor%}
  </div>

</body>
{% endblock %}